.about-page--container {
  padding: 2rem 2rem 2rem 2rem;
  background-color: rgb(246, 244, 239);
}

.about-page--main-content {
  border: .1rem solid rgb(144, 142, 142);
  /* outline: .1rem solid black;
  outline-offset: .2rem; */
  border-radius: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  margin: 0 0 2rem 0;
  background-color: white;
  border-collapse: separate;
}

.about-page--text h1 {
  font-size: 2rem;
  padding: 0 0 1rem 0;
  text-align: center;
  font-family: 'Canto';
}

.about-page--text p {
  font-size: 1rem;
  font-family: 'Canto';
  text-align: justify;
}

.about-page--services ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.about-page--services ul li {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Canto';

}

.about-page--services h1 {
  margin: 0 0 0 0;
}

ul li:last-child {
  /* padding-bottom: 1rem; */
}

.about-page--services {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: .5rem 0 3rem 0;
  margin: 0;
  border: .1rem solid rgb(144, 142, 142);
  /* outline: .1rem solid black;
  outline-offset: .2rem; */
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  background-color: white;
}

.about-page--clients {
  border: .1rem solid rgb(144, 142, 142);
  /* outline: .1rem solid black;
  outline-offset: .2rem; */
  border-radius: 1rem;
  margin: 2rem 0 0 0;
}

.about-page--clients h1 {
  font-size: 2rem;
  padding: 2rem 0 1rem 0;
  text-align: center;
}

.about-page--client-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.about-page--clients h1 {
  font-family: 'Canto';
}

.about-page--clients img {
  /* flex: 0 1 calc(33.33% - 10px); */
  margin: 0 1rem 1rem 1rem;
  max-width: 4rem;
  height: auto;
}

.about-page--clients {
  background-color: white;
  border-radius: 9px;
}

/* tablets & small desktops */
@media (min-width: 769px) and (max-width: 1200px) {

  .about-page--container {
    padding: 2rem 15rem 2rem 15rem;
  }
  .about-page--main-content {
    padding: 1rem 4rem 1rem 4rem;
  }


  .about-page--text > h1 {
    text-align: center;
    padding: 0 0 1rem 0;
  }

  .about-page--text > p {
    font-size: 1rem;
    text-align: justify;
  }

  .about-page--clients img {
    /* flex: 0 1 calc(33.33% - 10px); */
    margin: 2rem 2rem 2rem 2rem;
    padding-top: .5rem;
    max-width: 8rem;
    height: auto;
  }

  .about-page--services ul li {
    font-size: 1rem;
  }

}

/* larger desktops */
@media (min-width: 1201px) {

  .about-page--container {
    padding: 2rem 15rem 2rem 15rem;
  }

  .about-page--main-content {
    padding: 2rem 6rem 2rem 6rem;
  }

  .about-page--text > h1 {
    text-align: center;
  }

  .about-page--text > p {
    font-size: 1.5rem;
    text-align: justify;
    /* padding: 0 3rem 0 3rem; */
  }

  .about-page--text {
    /* width: 50%; */
  }



  .about-page--services ul li {
    font-size: 1.5rem;
  }

  .about-page--clients img {
    /* flex: 0 1 calc(33.33% - 10px); */
    margin: 2rem 2rem 2rem 2rem;
    padding-top: .5rem;
    max-width: 8rem;
    height: auto;
  }
}
