.events-page {
  padding: 2rem 2rem 2rem 2rem;
  background-color: rgb(246, 244, 239);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.events-page--container {
  /* padding: 2rem 2rem 2rem 2rem; */
  background-color: rgb(246, 244, 239);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;

}

.events-page h1 {
  padding: 0 0 2rem 0;
  font-family: 'Canto';
}

.events-page--container h2 {
  padding: 1rem 0 0 0;
  font-size: 1rem;
  font-family: 'Canto';

}

.event-preview--img {
  min-width:20rem;
  max-height:20rem;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.events-page--event-preview img {
  object-fit: cover;
  /* min-width:20rem;
  max-height:20rem; */
  border-radius: 1rem;
}

.events-page--event-preview {
  padding: 1rem 1rem 1rem 1rem;
  margin: 0 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: .1rem solid rgb(211, 208, 208);
  /* outline: .1rem solid black;
  outline-offset: .2rem; */
  border-radius: 1rem;
  background-color: white;
}


/* tablets & small desktops */
@media (min-width: 769px) and (max-width: 1200px) {
  .events-page--event-preview {
    margin: 0 1rem 3rem 1rem;
  }

  .event-preview--img {
    width: 30rem; /* Set a fixed width for the container */
    height: auto; /* Set a fixed height for the container */
    overflow: hidden; /* Clip the image that overflows the container */
    object-fit: cover;
  }

  .events-page--event-preview img {
    object-fit: cover;
    /* min-width:20rem;
    max-height:20rem; */
  }

}

/* larger desktops */
@media (min-width: 1201px) {

  .events-page--event-preview {
    margin: 0 1rem 3rem 1rem;
  }

  .event-preview--img {
    width: 30rem; /* Set a fixed width for the container */
    height: auto; /* Set a fixed height for the container */
    overflow: hidden; /* Clip the image that overflows the container */
    object-fit: cover;
  }

  .events-page--event-preview img {
    object-fit: cover;
    /* min-width:20rem;
    max-height:20rem; */
  }
}
